@media(max-width: 740px) {
    #nav li {
        display: block;
    }
    
    #nav {
        display: block;
    }

    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: none;
    }

}