@media (max-width: 740px) {
  #nav {
    display: block;
  }

  #nav li {
    display: block;
  }

  #nav li a {
    padding: 1px 24px;
  }

  #nav .subnav {
    position: inherit;
    background-color: #333;
  }

  #nav .subnav {
    color: #fff;
    padding: 5px 41px;
  }

  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #content .member-item {
    width: 100%;
  }

  #content .member-name {
    margin-top: 30px;
  }

  .place-item {
    width: 100%;
    margin-top: 16px;
  }
  .s-full-width {
    width: 100% !important;
  }
  .s-col-full {
    width: 100% !important;
  }

  .contact-form {
    margin-top: 16px;
  }
}
