@media (max-width: 740px) {
  #nav {
    display: block;
  }

  #nav li {
    display: block;
  }

  #nav .subnav {
    position: inherit;
  }

  #nav .subnav {
    color: #333;
  }

  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }
}
